.content-container {
  overflow-y: auto;
  .image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 2em;
    gap: 1em;
    height: 80vh;
  }
}
