.app-container {
  background-color: #f4f4f4;
  width: 100vw;
  height: calc(100vh - 52px);
  padding-top: 20px;
  .signup-container {
    width: 60%;
    max-width: 500px;
    background-color: #fff;
    border: 2px double #000;
    margin: auto;
    padding: 20px;
    .signup-title {
      text-align: center;
      margin-bottom: 10px;
    }
    .captcha-container {
      padding: 10px;
    }
    .captcha-container div {
      margin: auto;
    }
    .input-container {
      margin: 0px auto 4px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      .input-title {
        flex: 1;
        font-size: 16px;
      }
      .input-box {
        flex: 3;
        padding: 10px;
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .error-input {
      margin-left: 10px;
      font-size: 14px;
      color: red;
      margin-top: -10px;
      margin-bottom: 10px;
    }
    .note-captcha {
      display: block;
      margin-top: 20px;
      color: rgb(145, 145, 3);
      font-size: 13px;
      text-align: center;
    }
    .login-button {
      width: 100%;
      padding: 10px 20px;
    }
    .input-concrete {
      display: flex;
      .input-box {
        padding: 10px;
        font-size: 16px;
      }
      .send-otp-button {
        flex: 1;
        padding: 10px 20px;
      }
      .send-otp-button.disable {
        background-color: #fff;
        border: 1px solid #e3e3e3;
        color: #999;
      }
    }
  }
}
