.app-navigation {
  display: flex;
  border: 0.1em solid #333;
  border-left: none;
  border-right: none;
  justify-content: space-between;
  font-size: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  .left-link {
    padding: 0.6em;
  }
  .right-link {
    padding: 0.6em 0;
    .nav {
      padding: 0.4em 0.4em;
      border: 0.1em solid #333;
      margin: 0.4em 0.4em;
    }
  }
  .nav {
    padding: 0.4em 1em;
    border: 0.1em solid #333;
    margin: 1em;
    text-decoration: none;
  }
  .nav:hover {
    background-color: #e3e3e3;
    cursor: pointer;
  }
  .nav.active {
    font-weight: bold;
    color: rgb(234, 70, 33);
  }
}
